.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.console {
  background-color: black;
  color: lime;
  padding: 20px;
  border: 2px solid lime;
  filter: drop-shadow(0 0 10px rgba(0, 255, 0, 0.7)); /* Фильтр для виньетки */
}

.console:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 1px,
    lime 2px,
    lime 3px
  );
  z-index: -1;
  opacity: 0.1;
  pointer-events: none;
  animation: noise 3s infinite linear alternate;
}

.console-header {
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: black;
  color: rgb(0, 255, 0);
  padding: 10px;
  border: 2px solid lime;
  filter: drop-shadow(0 0 10px rgba(0, 255, 0, 0.5));
}

.console-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 1px,
    lime 2px,
    lime 3px
  );
  z-index: -1;
  opacity: 0.1;
  pointer-events: none;
  animation: noise 3s infinite linear alternate;
}

@keyframes noise {
  0% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(1px);
  }
}

.console-title {
  font-weight: 500;
}

.close_icon {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.close_icon span {
  margin: 0 10px;
}

.output {
  margin-bottom: 10px;
  border-bottom: 1px solid lime;
  padding-bottom: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container span {
  color: lime;
  margin-right: 5px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 1.5s step-start infinite;
  font-weight: 800;
}

ul {
  list-style-type: "- ";
}

.download-text-container {
  max-height: 100%;
  overflow-y: auto;
  margin-bottom: 25px;
}

.download-text:hover {
  background-color: lime;
}

.download-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding: 5px 0;
}

.download-text span {
  flex: 1;
}

.highlight-download:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .console {
    padding: 10px;
    font-size: 14px;
    border-width: 1px;
  }

  .console-header {
    padding: 5px;
    font-size: 16px;
  }

  .download-text-container {
    padding-top: 150px;
  }
  .download-text {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .download-text span {
    flex: none;
    text-align: center;
    width: 25%;
  }
}
